<div class="h-full min-h-full relative bg-white rounded-lg border border-gray-soft-50 shadow-xs overflow-hidden">
  <p-skeleton width="100%" height="100%" />
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="bg-white/80 border border-gray-soft-50 rounded-lg px-6 py-4 shadow-xs">
      <div class="text-lg font-bold text-green-700 tracking-base text-center">Coming soon</div>
      <div class="text-sm text-gray-soft-700 tracking-base text-center">Page will soon be available</div>
    </div>
  </div>
</div>
