@use '../../../../../styles/tokens' as *;

:host {
  display: block;
  height: 100%;
}

.vp-heading {
  @include text-heading-section;
  margin: 0;
}

.vp-label-strong {
  @include text-label-strong;
  margin: 0;
}

.vp-label-value {
  @include text-label-value;
}

.vp-label-title {
  @include text-label-strong;
}

.vp-body {
  @include text-body-description;
  margin: 0;
}

.vp-remediation-desc {
  margin: 0;
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
  font-size: $font-size-md;
  line-height: $line-height-loose;
  letter-spacing: $letter-spacing-base;
  color: $gray-soft-700;
}

.vp-icon {
  font-size: $font-size-sm;
  line-height: $line-height-tight;
}

.vp-divider {
  width: 100%;
  height: $divider-width;
  background: $divider-stroke;
  margin: $spacing-4 0;
}

.vp-vert-divider {
  width: $divider-width;
  height: $spacing-5;
  background: $divider-stroke;
  flex-shrink: 0;
}
