@use '../../../../../styles/tokens' as *;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: $z-index-popover;

  * {
    pointer-events: auto;
  }
}
