@use '../../../../../styles/tokens' as *;

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.graph-panel__title {
  @include text-heading-section;
  margin: 0;
}

.graph-panel__legend-icon {
  width: $graph-panel-icon-sm;
  height: $graph-panel-icon-sm;
  display: block;
}

.graph-panel__section-title {
  @include text-heading-section;
  margin: 0;
}

.graph-panel__table {
  min-height: $graph-panel-table-height;
}

.graph-panel__asset-icon {
  width: $graph-panel-icon-lg;
  height: $graph-panel-icon-lg;
  display: block;
}

.graph-panel__risk-pill {
  border-radius: $graph-panel-risk-pill-radius;
  border: 0 solid $red-800;
}

.graph-panel__risk-card {
  border-width: $border-width-risk;
}

.graph-panel__risk-item {
  &::before {
    content: '';
    width: $graph-panel-dot-size;
    height: $graph-panel-dot-size;
    border-radius: $radius-full;
    display: block;
  }
}

.graph-panel__risk-item--critical::before {
  background: $red-800;
}

.graph-panel__risk-item--high::before {
  background: $red-700;
}

.graph-panel__risk-item--medium::before {
  background: $yellow-600;
}

.graph-panel__risk-item--low::before {
  background: $green-600;
}

.graph-panel__donut {
  width: $graph-panel-donut-size;
  height: $graph-panel-donut-size;
}
