<div
  #graphContainer
  class="graph-container flex w-full justify-start overflow-x-auto overflow-y-hidden"
  (click)="onCanvasClick()"
>
  <ngx-graph
    class="graph-canvas h-full w-full bg-transparent"
    [nodes]="nodes()"
    [links]="links()"
    [layout]="layout"
    [layoutSettings]="layoutSettings()"
    [curve]="curve"
    [view]="view()"
    [panningEnabled]="false"
    [draggingEnabled]="false"
    [enableZoom]="false"
    [autoZoom]="false"
    [autoCenter]="false"
    [panOffsetX]="panOffsetX()"
    [panOffsetY]="panOffsetY()"
  >
    <ng-template #defsTemplate>
      <svg:marker
        id="graph-arrow"
        viewBox="0 0 12 12"
        refX="12"
        refY="6"
        markerWidth="12"
        markerHeight="12"
        orient="auto-start-reverse"
      >
        <svg:path d="M0 0L12 6L0 12Z" class="graph-edge__arrow" />
      </svg:marker>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="graph-edge">
        <svg:path class="line graph-edge__line" marker-end="url(#graph-arrow)"></svg:path>
      </svg:g>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g class="graph-node" [attr.data-type]="node.data?.type">
        @if (node.data?.popoverData) {
          <svg:rect
            x="0"
            y="0"
            [attr.width]="metrics().nodeWidth"
            [attr.height]="metrics().nodeHeight"
            fill="transparent"
            class="graph-node__hitbox"
            role="button"
            tabindex="0"
            [attr.aria-label]="node.data?.label || 'Graph node'"
            (mouseenter)="onNodeHover($event, node)"
            (mouseleave)="onNodeLeave()"
            (click)="onNodeSelect($event, node)"
            (keydown)="onNodeKeydown($event, node)"
          />
        }

        <svg:image
          class="graph-node__icon pointer-events-none"
          [attr.x]="metrics().nodeIconX"
          [attr.y]="metrics().nodeIconY"
          [attr.width]="metrics().nodeIconSize"
          [attr.height]="metrics().nodeIconSize"
          [attr.href]="getNodeIcon(node)"
        />

        @if (node.data?.badge) {
          <svg:g>
            <svg:image
              class="graph-node__badge-icon pointer-events-none"
              [attr.x]="metrics().badgeX"
              [attr.y]="metrics().badgeY"
              [attr.width]="metrics().badgeSize"
              [attr.height]="metrics().badgeSize"
              [attr.href]="node.data?.badge"
            />
          </svg:g>
        }

        <svg:text
          class="graph-node__label pointer-events-none"
          [attr.x]="metrics().nodeWidth / 2"
          [attr.y]="metrics().labelY"
          text-anchor="middle"
        >
          {{ node.data?.label }}
        </svg:text>
        @if (node.data?.tag) {
          <svg:text
            class="graph-node__tag pointer-events-none"
            [attr.x]="metrics().nodeWidth / 2"
            [attr.y]="metrics().tagY"
            text-anchor="middle"
          >
            {{ node.data?.tag }}
          </svg:text>
        }
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>
